


.card .cardimg {
  width: 70% !important; /* Force this width to override any other styles */
  height: auto !important; /* Ensure aspect ratio is maintained */
  object-fit: cover;
  margin-bottom: 10px;
}

.cardbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardtitle {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin: 10px !important;
  font-weight: bold !important;
}


.cardtext {
   color: black;
    font-size: 0.8rem;
     margin-bottom: 10px ;
}

.card {
  width: 15rem;
  height: 15rem;
  margin: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
