


.card {
  max-width: 600px;
  margin: 1rem auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}



.close-button {
  position: absolute;
  margin: 10px;
  top: 10px;
  right: 10px;
  background-color: #ff5c5c;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.close-button:hover {
  background-color: #ff0000;
}
