.customnav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
   z-index: 1;/* Ensure it stays above other content */
}

.cart-badge {
  margin-left: 15px;
  font-size: 0.8em;
}

.active {
  font-weight: bold; /* Optional: makes the active link bold */
  border-bottom: 3px solid rgb(0, 255, 200);
}
